# Database Connection URL
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
DATABASE_URL="postgresql://user:password@host:port/database"

# Environment: 'development' | 'production' | 'test'
NODE_ENV="development"

# Port:
PORT=3333